<div class="container my-4">
  <div class="text-center mb-4">
    <h2 class="d-inline-block px-4 py-1 bg-light">マイページ</h2>
  </div>

  <!-- 登録情報 見出し + 編集ボタン -->
<div class="customer-show-row">
  <h4 class="customer-show-label">登録情報</h4>
  <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success btn-sm customer-show-btn" %>
</div>

  <!-- 登録情報 表 -->
  <table class="table table-bordered customer-show-table">
    <tbody>
      <tr>
        <th class="bg-light" style="width: 180px;">氏名</th>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <th class="bg-light">カナ</th>
        <td><%= @customer.kana %></td>
      </tr>
      <tr>
        <th class="bg-light">郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th class="bg-light">住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th class="bg-light">電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th class="bg-light">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>

  <!-- 配送先 -->
<div class="customer-show-row mt-4">
  <h4 class="customer-show-label">配送先</h4>
  <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-sm customer-show-btn" %>
</div>

  <!-- 注文履歴 -->
<div class="customer-show-row mt-3">
  <h4 class="customer-show-label">注文履歴</h4>
  <%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm customer-show-btn" %>
</div>
</div>