<%= form_with model: [:admin, item] do |f| %>
  <% if item.errors.any? %>
    <ul>
      <% item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, "商品名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :introduction, "商品説明" %><br>
    <%= f.text_area :introduction %>
  </div>

  <div>
    <%= f.label :genre_id, "ジャンル" %><br>
    <%= f.collection_select :genre_id, Genre.order(:id), :id, :name, include_blank: "--選択--" %>
  </div>

  <div>
    <%= f.label :price, "税抜価格" %><br>
    <%= f.number_field :price %>
  </div>

  <div>
    <span>販売ステータス</span><br>
    <label>
      <%= f.radio_button :is_active, true %>
      販売中
    </label>
    <label style="margin-left:12px;">
      <%= f.radio_button :is_active, false %>
      販売停止
    </label>
  </div>

  <div style="margin-top:12px;">
    <%= f.submit %>
  </div>
<% end %>
