<div class="container px-5 px-sm-0">
  
  <!-- タイトルとカート空にするボタン -->
  <div class="row my-4">
    <div class="col-md-8">
      <h4 class="bg-light text-dark p-3 d-inline-block">ショッピングカート</h4>
    </div>
    <div class="col-md-4 text-right">
      <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, data: { confirm: "カートを空にしますか？" }, class: "btn btn-danger" %>
    </div>
  </div>

  <!-- カート一覧テーブル -->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th style="width: 40%;">商品名</th>
            <th style="width: 15%;">単価(税込)</th>
            <th style="width: 20%;">数量</th>
            <th style="width: 15%;">小計</th>
            <th style="width: 10%;"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <!-- 商品画像と名前 -->
              <td class="align-middle">
                <%# ここで画像表示（ActiveStorageの設定があれば以下のように記述） %>
                <%# = image_tag cart_item.item.get_image(50, 50), class: "mr-3" %>
                <span><%= cart_item.item.name %></span>
              </td>

              <!-- 単価 -->
              <td class="align-middle">
                <%= cart_item.item.with_tax_price.to_fs(:delimited) %>
              </td>

              <!-- 数量変更フォーム -->
              <td class="align-middle">
                <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch, local: true, class: "form-inline justify-content-center" do |f| %>
                  <div class="form-group mr-2">
                    <%= f.number_field :amount, min: 1, max: 10, class: "form-control form-control-sm", style: "width: 60px;" %>
                  </div>
                  <%= f.submit "変更", class: "btn btn-success btn-sm" %>
                <% end %>
              </td>

              <!-- 小計 -->
              <td class="align-middle">
                <%= cart_item.subtotal.to_fs(:delimited) %>
              </td>

              <!-- 削除ボタン -->
              <td class="align-middle text-center">
                <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 下部エリア：買い物を続ける & 合計金額 -->
  <div class="row mt-3 mb-5">
    <div class="col-md-8">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
    </div>
    
    <div class="col-md-4">
      <table class="table table-bordered">
        <tr>
          <th class="bg-light">合計金額</th>
          <td><%= @total.to_fs(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- 情報入力に進むボタン -->
  <div class="row justify-content-center">
    <% if @cart_items.present? %>
      <div class="col-md-4 text-center">
        <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success btn-lg btn-block" %>
      </div>
    <% end %>
  </div>

</div>