<header class="nc-header">
  <div class="nc-header__inner">
    <%= link_to "LOGO", admin_root_path, class: "nc-logo" %>

    <div class="nc-header__right">
      <nav class="nc-nav">
        <%= link_to "商品一覧", admin_items_path, class: "nc-btn" %>
        <%= link_to "会員一覧", admin_customers_path, class: "nc-btn" %>
        <%#= link_to "注文履歴一覧", admin_orders_path, class: "nc-btn" %>
        <%= link_to "ジャンル一覧", admin_genres_path, class: "nc-btn" %>

        <%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nc-btn" %>
      </nav>

      <div class="nc-search">
        <input class="nc-search__input" type="text" placeholder="Search" />
        <button class="nc-search__icon" type="button" aria-label="search">
          🔍
        </button>
      </div>
    </div>
  </div>
</header>
